.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.top-pane {
    -fx-border-width: 0 0 0.1 0;
    -fx-border-color: #838383;
}

.border-pane {
    -fx-background-color: #494843;
}

.text-field {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button {
    -fx-background-color: #0B90B5;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #3DAEE9;
}

.toggle-button {
    -fx-background-color: #636363;
    -fx-text-fill: #ffffff;
}

.toggle-button:hover {
    -fx-background-color: #838383;
}

.toggle-button:selected {
    -fx-background-color: #71D672;
    -fx-text-fill: #ffffff;
}

.nav-buttons:hover {
    -fx-effect: innershadow( gaussian , #3DAEE9, 9, 1 ,1 ,1);
}

.clear-button {
    -fx-background-color: #AB231D;
    -fx-text-fill: #ffffff;
}

.clear-button:hover {
    -fx-background-color: #F8251C;
}

.refresh {
    -fx-effect: innershadow( gaussian , #00C702, 9, 1 ,1 ,1);
}

.delete {
    -fx-effect: innershadow( gaussian , #AB231D, 9, 1 ,1 ,1);
}

.delete:hover {
    -fx-effect: innershadow( gaussian , #F8251C, 9, 1 ,1 ,1);
}

