.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.border-pane {
    -fx-background-color: #494843;
}

.text-field {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.search_bar_btn {
    -fx-background-color: #636363;
    -fx-background-radius: 0 2 2 0;
}

.search_bar_btn:hover {
    -fx-background-color: #3DAEE9;
}

.expand_right {
    -fx-effect: innershadow(gaussian, #FFA500, 7, 1, 1, 1);
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-view {
    -fx-selection-bar:#0B90B5;
    -fx-background-color: #636363, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    /*-fx-padding: 0;*/
}

.list-view .list-cell:odd {
    -fx-background-color: #41403D;
    -fx-font-size: 15;
}

.list-view .list-cell:even {
    -fx-background-color: #3E3D3A;
    -fx-font-size: 15;
}

.list-view .list-cell:selected:odd,
.list-view .list-cell:selected:even {
    -fx-background-color: -fx-background;
}



/*
change the color of an image or icon

.triangle {
   -fx-effect: innershadow( gaussian , #1E2D44 , 7 , 1 , 1 , 1 );
}

*/
