.IN-PLANNING {
    -fx-border-color: #13A4FF;
    -fx-border-radius: 15 15 15 15;
}

.IN-PROGRESS {
    -fx-border-color: #71D672;
    -fx-border-radius: 15 15 15 15;
}

.ON-HOLD {
    -fx-border-color: #FFED4D;
    -fx-border-radius: 15 15 15 15;
}

.CANCELED {
    -fx-border-color: #FF6661;
    -fx-border-radius: 15 15 15 15;
}

.COMPLETED {
    -fx-border-color: #A470E5;
    -fx-border-radius: 15 15 15 15;
}